<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Most popular languages that Data Scientist use
+ Arithmetic expressions in Python
+ Creation of tables

Some of the popular languages that Data Scientist use are: 

1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientist include:

1. Pandas
2. Scikit-learn
3. Keras
4. TensorFlow

|Data Science Tools|
--------------
|TensorFlow|
|RStudio|
|Apache Spark|

### Below are a few examlpes of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Pol Mir√≥